<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FightFleetConnectionString" connectionString="Data Source=7abe2269-e12c-4076-9ab9-a0f500139bf1.sqlserver.sequelizer.com;Initial Catalog=db7abe2269e12c40769ab9a0f500139bf1;User ID=ufosakngychouvjv;Password=cJp4JzdgZZYeVhAocmUdt68SrXf42LrkcdPzvyzwiB2jGBAYLeFLetDfJEKTuino"
            providerName="System.Data.SqlClient" />
        <add name="FightFleet.Properties.Settings.FightFleetConnectionString"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=FightFleet;User ID=FightFleet;Password=comp412"
            providerName="System.Data.SqlClient" />
        <add name="FightFleet.Properties.Settings.db7abe2269e12c40769ab9a0f500139bf1ConnectionString"
            connectionString="Data Source=7abe2269-e12c-4076-9ab9-a0f500139bf1.sqlserver.sequelizer.com;Initial Catalog=db7abe2269e12c40769ab9a0f500139bf1;User ID=ufosakngychouvjv;Password=cJp4JzdgZZYeVhAocmUdt68SrXf42LrkcdPzvyzwiB2jGBAYLeFLetDfJEKTuino"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>